/*-----------------------------------*\
 * #style.css
\*-----------------------------------*/

/**
 * copyright 2022 codewithsadee
 */





/*-----------------------------------*\
 * #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

    /**
     * colors
     */
  
    --maximum-blue-green_10: hsla(185, 75%, 45%, 0.1);
    --rich-black-fogra-29: hsl(217, 28%, 9%);
    --gray-x-11-gray: hsl(0, 0%, 74%);
    --oxford-blue_60: hsla(230, 41%, 14%, 0.6);
    --bittersweet: hsl(5, 100%, 69%);
    --smoky-black: rgb(7, 6, 1);
    --gainsboro: hsl(0, 0%, 88%);
    --black_90: hsla(0, 0%, 0%, 0.9);
    --cultured: hsl(200, 12%, 95%);
    --salmon: hsl(5, 100%, 73%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --onyx: hsl(0, 0%, 27%);
  
    /**
     * typography
     */
    
    --ff-roboto: 'Roboto', sans-serif;
    --ff-josefin-sans: 'Josefin Sans', sans-serif;
  
    --fs-1: 3rem;
    --fs-2: 2.6rem;
    --fs-3: 2.2rem;
    --fs-4: 2rem;
    --fs-5: 1.8rem;
    --fs-6: 1.6rem;
    --fs-7: 1.4rem;
    --fs-8: 1.2rem;
  
    --fw-300: 300;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
  
    /**
     * transition
     */
  
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --cubic-out: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-in: cubic-bezier(0.33, 0.85, 0.56, 1.02);
  
    /**
     * spacing
     */
  
    --section-padding: 60px;
  
  }
  
  
  
  
  
  /*-----------------------------------*\
   * #RESET
  \*-----------------------------------*/
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  li { list-style: none; }
  
  a { text-decoration: none; }
  
  a,
  img,
  span,
  table,
  tbody,
  button,
  ion-icon { display: block; }
  
  button,
  input {
    font: inherit;
    background: none;
    border: none;
  }
  
  input { width: 100%; }
  
  button { cursor: pointer; }
  
  address {
    font-style: normal;
    line-height: 1.8;
  }
  
  html {
    font-family: var(--ff-josefin-sans);
    font-size: 10px;
    scroll-behavior: smooth;
  }
  
  body {
    background: var(--white);
    font-size: 1.6rem;
    padding-block-start: 90px;
  }
  
  ::-webkit-scrollbar { width: 10px; }
  
  ::-webkit-scrollbar-track { background: hsl(0, 0%, 95%); }
  
  ::-webkit-scrollbar-thumb { background: hsl(0, 0%, 80%); }
  
  ::-webkit-scrollbar-thumb:hover { background: hsl(0, 0%, 70%); }
  
  
  
  
  
  /*-----------------------------------*\
   * #REUSED STYLE
  \*-----------------------------------*/
  
  .container { padding-inline: 15px; }
  
  .section { padding-block: var(--section-padding); }
  
  .h1,
  .h2,
  .h3,
  .h4 { color: var(--rich-black-fogra-29); }
  
  .h1 {
    font-size: var(--fs-1);
    font-weight: var(--fw-300);
    line-height: 1.5;
  }
  
  .h2 { font-size: var(--fs-2); }
  
  .h3 { font-size: var(--fs-4); }
  
  .h4 {
    font-size: var(--fs-5);
    text-transform: uppercase;
  }
  
  .btn {
    background: var(--background, var(--bittersweet));
    color: var(--color, var(--white));
    font-size: var(--fs-5);
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 14px 25px;
    border: 1px solid var(--border-color, var(--bittersweet));
  }
  
  .btn-primary:is(:hover, :focus) {
    --background: var(--salmon);
    --border-color: var(--salmon);
  }
  
  .btn-secondary {
    --background: transparent;
    --border-color: var(--black);
    --color: var(--black);
  }
  
  .btn-secondary:is(:hover, :focus) { --background: hsla(0, 0%, 0%, 0.1); }
  
  /* .has-scrollbar {
    display: flex;
    gap: 25px;
    overflow-x: auto;
    padding-bottom: 20px;
    scroll-snap-type: inline mandatory;
  } */

  .collection-list {
    /* display: flex; */
    display: grid; 
 
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
  }
  
  .has-scrollbar > li {
    min-width: 100%;
    scroll-snap-align: start;
  }
  
  .has-scrollbar::-webkit-scrollbar { height: 10px; }
  
  .has-scrollbar::-webkit-scrollbar-track {
    background: var(--white);
    border-radius: 20px;
    outline: 2px solid var(--bittersweet);
  }
  
  .has-scrollbar::-webkit-scrollbar-thumb {
    background: var(--bittersweet);
    border: 2px solid var(--white);
    border-radius: 20px;
  }
  
  .has-scrollbar::-webkit-scrollbar-button { width: calc(25% - 40px); }
  
  .card-banner {
    background: var(--cultured);
    position: relative;
    height: 350px;
    overflow: hidden;
  }
  
  .image-contain {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    transition: var(--transition-2);
  }
   
  
  .card-badge {
    position: absolute;
    top: 20px;
    left: 20px;
    background: var(--bittersweet);
    color: var(--white);
    padding: 5px 15px;
    font-family: var(--ff-roboto);
    font-size: var(--fs-7);
    border-radius: 25px;
  }
  
  .card-action-list {
    position: absolute;
    top: 20px;
    right: -20px;
    opacity: 0;
    transition: var(--transition-1);
  }
 
  
  .card-action-item { position: relative; }
  
  .card-action-item:not(:last-child) { margin-bottom: 10px; }
  
  .card-action-btn {
    background: var(--white);
    color: var(--rich-black-fogra-29);
    font-size: 18px;
    padding: 10px;
    border-radius: 50%;
    transition: var(--transition-1);
  }
  
  .card-action-btn ion-icon { --ionicon-stroke-width: 30px; }
  
  .card-action-btn:is(:hover, :focus) {
    background: var(--bittersweet);
    color: var(--white);
  }
  
  .card-action-tooltip {
    position: absolute;
    top: 50%;
    right: calc(100% + 5px);
    transform: translateY(-50%);
    width: max-content;
    background: var(--black_90);
    color: var(--white);
    font-family: var(--ff-roboto);
    font-size: var(--fs-7);
    padding: 4px 8px;
    border-radius: 4px;
    opacity: 0;
    pointer-events: none;
    transition: var(--transition-1);
  }
  
  .card-action-btn:is(:hover, :focus) + .card-action-tooltip { opacity: 1; }
  
  .card-content {
    padding: 24px 15px 0;
    text-align: center;
  }
  
  .card-cat {
    font-family: var(--ff-roboto);
    color: var(--onyx);
    font-size: var(--fs-7);
    margin-bottom: 12px;
  }
  
  .card-cat-link {
    display: inline-block;
    color: inherit;
    transition: var(--transition-1);
  }
  
  .card-cat-link:is(:hover, :focus) { color: var(--bittersweet); }
  
 
  
  .card-price {
    color: var(--bittersweet);
    font-family: var(--ff-roboto);
    font-weight: var(--fw-600);
  }
  
  .card-price del {
    color: var(--gray-x-11-gray);
    margin-left: 8px;
  }
  
  .btn-link {
    --background: none;
    --border-color: none;
    padding: 0;
    margin-inline: auto;
    max-width: max-content;
    font-family: var(--ff-roboto);
    font-size: var(--fs-6);
    font-weight: var(--fw-500);
    padding-bottom: 6px;
    border-bottom: 1px solid var(--white);
  }
  
  .btn-link:is(:hover, :focus) { border-color: transparent; }
  
  
  
  
  
  /*-----------------------------------*\
   * #HEADER
  \*-----------------------------------*/
  
  .header {
    background: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: var(--transition-1);
    z-index:99999;
  }
  
  .header.active { box-shadow: 0 2px 10px hsla(0, 0%, 0%, 0.1); }
  
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 20px;
  }
  
  .nav-open-btn {
    font-size: 30px;
    background: var(--bittersweet);
    color: var(--white);
    padding: 8px;
  }
  
  .nav-open-btn:is(:hover, :focus) { background: var(--salmon); }
  
  .nav-open-btn ion-icon { --ionicon-stroke-width: 40px; }
  
  .navbar {
    background: var(--white);
    position: fixed;
    top: 0;
    left: -280px;
    width: 100%;
    max-width: 270px;
    height: 100%;
    border-right: 3px solid var(--rich-black-fogra-29);
    font-family: var(--ff-roboto);
    overflow-y: auto;
    overscroll-behavior: contain;
    z-index: 2;
    visibility: hidden;
    transition: 0.25s var(--cubic-out);
  }
  
  .navbar.active {
    visibility: visible;
    transform: translateX(280px);
    transition: 0.5s var(--cubic-in);
  }
  
  .nav-close-btn {
    color: var(--rich-black-fogra-29);
    position: absolute;
    top: 0;
    right: 0;
    padding: 13px;
    font-size: 25px;
    transition: var(--transition-1);
  }
  
  .nav-close-btn ion-icon { --ionicon-stroke-width: 55px; }
  
  .nav-close-btn:is(:hover, :focus) { color: var(--bittersweet); }
  
  .navbar .logo {
    background: var(--maximum-blue-green_10);
    padding-block: 50px 40px;
  }
  
  .navbar .logo img { margin-inline: auto; }
  
  .navbar-list,
  .nav-action-list { margin: 30px; }
  
  .navbar-list {
    padding: 20px;
    border-bottom: 1px solid var(--gainsboro);
  }
  
  .navbar-link {
    color: var(--rich-black-fogra-29);
    padding-block: 10px;
    transition: var(--transition-1);
  }
  
  .navbar-link:is(:hover, :focus) { color: var(--bittersweet); }
  
  .navbar-item:not(:last-child) { border-bottom: 1px solid var(--gainsboro); }
  
  .nav-action-list > li:first-child { display: none; }
  
  .nav-action-btn {
    color: var(--rich-black-fogra-29);
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding-block: 10px;
    transition: var(--transition-1);
  }
  
  .nav-action-btn:is(:hover, :focus) { color: var(--bittersweet); }
  
  .nav-action-btn ion-icon {
    font-size: 22px;
    --ionicon-stroke-width: 25px;
  }
  
  .nav-action-text strong {
    font-weight: initial;
    color: var(--bittersweet);
  }
  
  .nav-action-badge {
    margin-left: auto;
    font-size: var(--fs-8);
    background: var(--bittersweet);
    color: var(--white);
    width: 18px;
    height: 18px;
    display: grid;
    place-items: center;
    border-radius: 50%;
  }
  
  .overlay {
    position: fixed;
    inset: 0;
    background: hsla(0, 0%, 0%, 0.6);
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: var(--transition-1);
  }
  
  .overlay.active {
    opacity: 1;
    pointer-events: all;
  }
  
  
  
  
  
  /*-----------------------------------*\
   * #HERO
  \*-----------------------------------*/
  
  .hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    min-height: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .hero-title { margin-bottom: 10px; }
  
  .hero-title > strong { display: block; }
  
  .hero-text {
    color: var(--onyx);
    font-family: var(--ff-roboto);
    font-size: var(--fs-8);
    line-height: 1.8;
    max-width: 46ch;
    margin-bottom: 25px;
  }
  
  
  
  
  
  /*-----------------------------------*\
   * #COLLECTION
  \*-----------------------------------*/
  
  .collection-card {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-block: 45px 25px;
  }
  
  
  
  
 .collection-list>li{
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
 }
 
  
  .filter-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
  }
  
  .filter-btn {
    color: var(--onyx);
    padding: 10px 16px;
    font-family: var(--ff-roboto);
    font-size: var(--fs-7);
    font-weight: var(--fw-500);
    border: 1px solid var(--gainsboro);
    border-radius: 30px;
  }
  
  .filter-btn.active {
    background: var(--bittersweet);
    color: var(--white);
    border-color: var(--bittersweet);
  }
  
  
  
   
  
   
  @media (min-width: 575px) {
  
    /**
     * CUSTOM PROPERTY
     */
  
    :root {
  
      /**
       * typography
       */
  
      --fs-1: 4rem;
  
    }
  
  
   
    .container {
      max-width: 650px;
      width: 100%;
      margin-inline: auto;
    }
  
   
  
    .hero-text { font-size: var(--fs-7); }
  
   
   
  
  }
  
  
  
  
  
 
  
  @media (min-width: 768px) {
  
   
      
  
    :root {
  
      /**
       * typography
       */
  
      --fs-2: 3rem;
  
    }
  
  
  
   
  
    .container { max-width: 720px; }
  
    .h4 { --fs-5: 2rem; }
  
  
   
  
  }
  
 
  @media (min-width: 992px) {
 
    :root {
      --fs-3: 2.4rem;
  
    }
 
    .container { max-width: 970px; } 
  
    .nav-open-btn,
    .nav-close-btn,
    .navbar .logo,
    .nav-action-text,
    .overlay { display: none; }
  
    .navbar,
    .navbar-list,
    .nav-action-list { all: unset; }
  
    .navbar-item:not(:last-child) { border: none; }
  
    .navbar-list,
    .nav-action-list { display: flex; }
  
    .nav-action-list { gap: 20px; }
  
    .navbar {
      display: flex;
      align-items: center;
      flex-grow: 1;
    }
  
    .navbar-list {
      margin-inline: auto;
      gap: 35px;
    }
  
    .navbar-link {
      font-family: var(--ff-roboto);
      font-weight: var(--fw-500);
    }
  
    .nav-action-list > li:first-child { display: block; }
  
    .nav-action-btn { position: relative; }
  
    .nav-action-badge ion-icon { --ionicon-stroke-width: 30px; }
  
    .nav-action-badge {
      position: absolute;
      top: 5px;
      right: -12px;
    }
  
   
    .hero { height: 480px; }
  
  
   
  
  
  
  
  
  }
  
  
  
  
  
  /**
   * responsive for larger than 1200px screen
   */
  
  @media (min-width: 1200px) {
  
    /**
     * CUSTOM PROPERTY
     */
  
    :root {
  
      /**
       * typography
       */
  
      --fs-1: 5rem;
      --fs-2: 3.6rem;
  
    }
  
  
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 1280px; }
  
  
  
    /**
     * HERO
     */
  
    .hero { height: 580px; }
  
    .hero .container { max-width: 1000px; }
  
    .hero-text {
      font-size: var(--fs-6);
      max-width: 50ch;
    }
  
   
  
  
  
    
  
  }










  /* second banner */
  .ban_sec {
    margin-top: 150px;
    width: 100%;
  }
  .ban_img {
    width: 100%;
    position: relative;
    border-radius: 10px ; 
    overflow: hidden;
  }
  .ban_img img {
    width: 100%;
  
  }
  .ban_text {
    position: absolute;
    top: 50%;
    left: 6%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .ban_text strong {
    font: 800 62.22px/70px "Montserrat", sans-serif;
 
    text-transform: uppercase;
  }
  .ban_text strong span {
    font: 400 44.44px/52px "Montserrat", sans-serif;
    letter-spacing: 3px;
  }
  .ban_text p {
    font: 400 25px/30px "Montserrat", sans-serif;
 
    margin: 7px 0 25px;
  }
  .ban_text a {
    display: inline-block;
    font: 800 19.39px/24px "Montserrat", sans-serif;
     
    border-radius: 26px;
   
    padding: 12px 28px;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-decoration:none;
  }
  .ban_text a:hover {
    background: #50af47;
  }
  
  @media (min-width: 1200px) and (max-width: 1399px) {
    .ban_text p {
      font-size: 21px;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1199px) {
    .ban_text p {
      font-size: 17px;
    }
    .ban_text strong {
      font-size: 50px;
      line-height: 60px;
    }
    .ban_text strong span {
      font-size: 37px;
    }
    .ban_text a {
      font-size: 16px;
      line-height: 19px;
    }
  }
  
  @media only screen and (max-width: 991px) {
    .ban_text strong {
      font-size: 35px;
      line-height: 40px;
    }
    .ban_text strong span {
      font-size: 28px;
      line-height: 35px;
      letter-spacing: 2px;
    }
    .ban_text p {
      font-size: 14px;
      line-height: 20px;
    }
    .ban_text a {
      font-size: 13.39px;
      line-height: 15px;
    }
    .collection-list {
        grid-template-columns: repeat(2, 1fr)!important;
      
     }
  }
  @media only screen and (max-width: 767px) {
    .ban_img img {
      min-height: 290px;
      object-fit: cover;
    }
    .collection-list {
         grid-template-columns: repeat(1, 1fr)!important;
       
      }
  }
  @media only screen and (max-width: 575px) {
    .ban_text strong {
      background: rgba(0, 0, 0, 0.8);
      padding: 10px;
      width: 100%;
      display: block;
    }
  }
  @media only screen and (max-width: 480px) {
    .ban_text strong span {
      font-size: 22px;
      line-height: 31px;
      letter-spacing: 1px;
    }
    .ban_text {
      left: 2%;
    }
  }
  
  /* second banner */









  /* footer */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
  
 
  .row{
      display: flex;
      flex-wrap: wrap;
  }
  ul{
      list-style: none;
  }
  .footer{
    margin-top: 100px;
      background-color: #F2F2F2;
      padding: 70px 0;
  }
  .footer-col{
     width: 25%;
     padding: 0 15px;
  }
  .footer-col h4{
      font-size: 18px; 
      text-transform: capitalize;
      margin-bottom: 35px;
      font-weight: 500;
      position: relative;
  }
  .footer-col h4::before{
      content: '';
      position: absolute;
      left:0;
      bottom: -10px;
      background-color: #e91e63;
      height: 2px;
      box-sizing: border-box;
      width: 50px;
  }
  .footer-col ul li:not(:last-child){
      margin-bottom: 10px;
  }
  .footer-col ul li a{
      font-size: 16px;
      text-transform: capitalize; 
      text-decoration: none;
      font-weight: 300;
      color: #272727;
      display: block;
      transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
      color: #5b21fa;
      padding-left: 8px;
  }
  .footer-col .social-links a{
      display: inline-block;
      height: 40px;
      width: 40px;
      background-color: rgba(102, 102, 102, 0.658);
      margin:0 10px 10px 0;
      text-align: center;
      line-height: 40px;
      border-radius: 50%;
      color: #252525;
      transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
      color: #24262b;
      background-color: rgb(185, 182, 182);
  }
  
  /*responsive*/
  @media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }
  
  
  
  
  /* footer */











  /* about us */
 
.text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    line-height: 25px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  
  .responsive-cell-block {
    min-height: 75px;
  }
  
  .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: flex-start;
  }
  
  .responsive-container-block.bigContainer {
    padding-top: 0px;
    padding-right: 50px;
    padding-bottom: 0px;
    padding-left: 50px;
    margin-top: 50px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
  }
  
  .responsive-container-block.Container {
    max-width: 1320px;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
  }
  
  .mainImg {
    width: 100%;
    height: 800px;
    object-fit: cover;
  }
  
  .blueDots {
    position: absolute;
    top: 150px;
    right: 15%;
    z-index: -1;
    left: auto;
    width: 80%;
    height: 500px;
    object-fit: cover;
  }
  
  .imgContainer {
    position: relative;
    width: 48%;
    border-radius: 20px ;
    overflow: hidden; 
  
  }
  
  .responsive-container-block.textSide {
    width: 48%;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    z-index: 100;
  }
  
  .text-blk.heading {
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
  }
  
  .text-blk.subHeading {
    font-size: 18px;
    line-height: 26px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
  }
  
  .cardImg {
    width: 31px;
    height: 31px;
  }
  
  .cardImgContainer {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(229, 229, 229);
    border-right-color: rgb(229, 229, 229);
    border-bottom-color: rgb(229, 229, 229);
    border-left-color: rgb(229, 229, 229);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  
  .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 0px;
  }
  
  .text-blk.cardHeading {
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
  }
  
  .text-blk.cardSubHeading {
    color: rgb(153, 153, 153);
    line-height: 22px;
  }
  
  .explore {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: white;
    background-color: rgb(212, 82, 72);
    box-shadow: rgba(244, 152, 146, 0.25) 0px 10px 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: initial;
    border-right-style: initial;
    border-bottom-style: initial;
    border-left-style: initial;
    border-top-color: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    padding-top: 17px;
    padding-right: 40px;
    padding-bottom: 17px;
    padding-left: 40px;
  }
  
  .explore:hover {
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(244, 182, 176);
  }
  
  #ixvck {
    margin-top: 60px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  
  .redDots {
    position: absolute;
    bottom: -350px;
    right: -100px;
    height: 500px;
    width: 400px;
    object-fit: cover;
    top: auto;
  }
  
  @media (max-width: 1024px) {
    .responsive-container-block.Container {
      position: relative;
      align-items: flex-start;
      justify-content: center;
    }
  
    .mainImg {
      bottom: 0px;
    }
  
    .imgContainer {
      position: absolute;
      bottom: 0px;
      left: 0px;
      height: auto;
      width: 60%;
    }
  
    .responsive-container-block.textSide {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: auto;
      width: 70%;
    }
  
    .responsive-container-block.Container {
      flex-direction: column-reverse;
    }
  
    .imgContainer {
      position: relative;
      width: auto;
      margin-top: 0px;
      margin-right: auto;
      margin-bottom: 0px;
      margin-left: auto;
    }
  
    .responsive-container-block.textSide {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 20px;
      margin-left: 0px;
      width: 100%;
    }
  
    .responsive-container-block.Container {
      flex-direction: row-reverse;
    }
  
    .responsive-container-block.Container {
      flex-direction: column-reverse;
    }
  }
  
  @media (max-width: 768px) {
    .responsive-container-block.textSide {
      width: 100%;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
  
    .text-blk.subHeading {
      text-align: center;
      font-size: 17px;
      max-width: 520px;
    }
  
    .text-blk.heading {
      text-align: center;
    }
  
    .imgContainer {
      opacity: 0.8;
    }
  
    .imgContainer {
      height: 500px;
    }
  
    .imgContainer {
      width: 30px;
    }
  
    .responsive-container-block.Container {
      flex-direction: column-reverse;
    }
  
    .responsive-container-block.Container {
      flex-wrap: nowrap;
    }
  
    .responsive-container-block.textSide {
      width: 100%;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 20px;
      margin-left: 0px;
    }
  
    .imgContainer {
      width: 90%;
    }
  
    .imgContainer {
      height: 450px;
      margin-top: 5px;
      margin-right: 33.9062px;
      margin-bottom: 0px;
      margin-left: 33.9062px;
    }
  
    .redDots {
      display: none;
    }
  
    .explore {
      font-size: 16px;
      line-height: 14px;
    }
  }
  
  @media (max-width: 500px) {
    .imgContainer {
      position: static;
      height: 450px;
    }
  
    .mainImg {
      height: 100%;
    }
  
    .blueDots {
      width: 100%;
      left: 0px;
      top: 0px;
      bottom: auto;
      right: auto;
    }
  
    .imgContainer {
      width: 100%;
    }
  
    .responsive-container-block.textSide {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .responsive-container-block.Container {
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
      overflow-x: visible;
      overflow-y: visible;
    }
  
    .responsive-container-block.bigContainer {
      padding-top: 10px;
      padding-right: 20px;
      padding-bottom: 10px;
      padding-left: 20px;
      padding: 0 30px 0 30px;
    }
  
    .redDots {
      display: none;
    }
  
    .text-blk.subHeading {
      font-size: 16px;
      line-height: 23px;
    }
  
    .text-blk.heading {
      font-size: 28px;
      line-height: 28px;
    }
  
    .responsive-container-block.textSide {
      margin-top: 40px;
      margin-right: 0px;
      margin-bottom: 50px;
      margin-left: 0px;
    }
  
    .imgContainer {
      margin-top: 5px;
      margin-right: auto;
      margin-bottom: 0px;
      margin-left: auto;
      width: 100%;
      position: relative;
    }
  
    .explore {
      padding-top: 17px;
      padding-right: 0px;
      padding-bottom: 17px;
      padding-left: 0px;
      width: 100%;
    }
  
    #ixvck {
      width: 90%;
      margin-top: 40px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
      font-size: 15px;
    }
  
    .blueDots {
      bottom: 0px;
      width: 100%;
      height: 80%;
      top: 10%;
    }
  
    .text-blk.cardHeading {
      font-size: 16px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 8px;
      margin-left: 0px;
      line-height: 25px;
    }
  
    .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12 {
      padding-top: 10px;
      padding-right: 0px;
      padding-bottom: 10px;
      padding-left: 0px;
    }
  }
  /* about us */









/* contact */
  
.contact {
    background-color: #F2F2F2;
    padding-block-start: calc(var(--section-padding) + 60px);
  }
  
  .contact .container {
    display: grid;
    gap: 48px;
  }
  
  .contact-form {
    background-color: var(--white);
    padding: 25px;
  }
  
  .contact-text { margin-block: 5px 30px; }
  
  .contact .label { margin-block-end: 8px; }
  
  .input-field {
    padding: 10px 12px;
    border: 1px solid #c4c4c4;
    margin-block-end: 24px;
    outline: none;
  
  }
  
  .input-field:focus { box-shadow: inset 0 0 0 1px #9b9a9a; }
  
  .contact  textarea {
    resize: vertical;
    min-height: 100px;
    max-height: 150px;
    width: 100%;

  }
  
  
  .contact-list .contact-item {
    display: flex;
    align-items: flex-start;
    gap: 15px;
  }
  
  .contact-list .contact-item:not(:last-child) { margin-block-end: 35px; }
  
  .contact-list .item-icon {
    color: var(--jet);
    width: 55px;
    height: 55px;
    display: grid;
    place-items: center;
    flex-shrink: 0;
  }
  
  .contact-list .item-icon ion-icon { font-size: 2.5rem; }
  
  .contact .label-lg {
 
    text-transform: uppercase;
    letter-spacing: 2px;
 
    margin-block-end: 5px;
  }
  
  .contact .body-lg {
    color: "white";
    word-break: break-all;
  }
  
  .section.contact textarea {
    border-color: #e2e2e2;
}
  
.section.contact input[type="text"], .section.contact input[type="password"], .section.contact input[type="email"], .section.contact select, .section.contact textarea {
    border-color: #e2e2e2;
}
 
  
  @media (min-width: 768px) {
  
    .contact-form { padding: 35px; }
  
    .wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }
  
  }
  
  
   
  
  @media (min-width: 992px) {
  
    .contact .container {
      grid-template-columns: 1fr 0.9fr;
      align-items: center;
      gap: 20px;
    }
  
    .contact-content {
      width: 70%;
      margin-inline: auto;
    }
  
  }







  /* hero banner */
  .hero-image {
    background: linear-gradient(125.95deg, #C700BF 10.95%, #7DA900 100%), linear-gradient(341.1deg, #00C2FF 7.52%, #4E00B1 77.98%), linear-gradient(222.34deg, #A90000 12.99%, #00FFE0 87.21%), linear-gradient(130.22deg, #8FA600 18.02%, #5A31FF 100%);
    background-blend-mode: screen, color-dodge, color-dodge, normal;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(41, 41, 41);
  }
  .hero-text>p{
    font-size: 15px;
  }
  .hero-text>h1{
    font-size:70px;
  }




  .hero-content{
    padding: 0px 10%;
  }
  .hero-image-contact {
    
    height: 330px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover!important;
    position: relative;
  }
  
  .hero-text-contact {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(41, 41, 41);
  }
  .hero-text-contact>p{
    font-size: 15px;
  }
  .hero-text-contact>h1{
    font-size:50px;
  }
  
